/* Barevne schema
   --------------
   (barvy italske vlajky)
   primary: #ce2b37
   secondary: #009245
   background: #fff
   border: #c0c0c0 (silver)
*/


/* Box model pro ucely responzivniho designu */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Zakladni styly
-------------
*/

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #222;
}

h1,
h2,
h3,
h4 {
    color: #ce2b37;
    font-family: "Lobster", cursive;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
    text-shadow: 1px 1px 2px #fff;
}

header {
    padding: 1rem;
    /* Postupne budovani pozadi: v devTools si vypinej/prepinej, a porovnej s tim, co vidis jako vysledek v prohlizeci.  */
    background-image: linear-gradient(to right, #fff 50%, #f00); /* plynuly prechod z bile do cervene */
    background-image: linear-gradient(to right, #fff 50%, #f00 50%); /* ostry prechod z bile do cervene */
    background-image: linear-gradient(to right, #0f0 33.3333%, #fff 33.3333%, #fff 66.66666%, #f00 66.66666%); /* tri barvy s prechodem po tretine */
    background-image: linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* skutecene barvy italske vlajky */
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)),
        linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* dvojite pozadi, prvni kvuli citelnosti */
    font-size: 1.25rem;
    text-align: center;
}

@media only screen and (min-width: 700px) {

    header {
        font-size: 2rem;
    }
}

header img {
    max-width: 500px;
}

header h1 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(255,255,255,.8);
}

header p {
    padding: 1rem 0;
    background-color: rgba(50,50,50,.3); /* zlepsi citelnost */
    margin: -1rem; /* zaporny okraj roztahne prvek i pres padding rodice, takze od kraje do kraje  */
    margin-top: 0.5em; /* odsadime od nadpisu nads */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.8); /* zlepsime citelnost */
}


/* Sekce
   -----
*/

section {
    padding: 1rem;
    border: 1px solid #c0c0c0;
}

a {
    color: #ce2b37;
}

a:hover {
    text-decoration: none;
}

 /* pomocna trida */
.hidden {
    display: none;
}

/* Upoutavkove boxy
   ----------------
*/

.highlights  {
    color: #009245;
    text-align: center;
}

.highlights ul {
    list-style: none;
    padding-left: 0;
    font-size: 0; /* zmensenim velikosti pisma na 0 zmizi i mezery mezi potomky, kteri maji display: inline-block, tj. chovaji se jako slova na radku */
}

.highlights li {
    padding: 1em;
    border: 1px solid currentColor;
    border-radius: .5em;
    margin-bottom: .5em; /* aby se boxy pod sebou neslepily */
    font-size: 1rem; /* zdedena font-size rodice je 0, takze pismo nastavime zpatky na zakladni velikost */
}

/* plati na obrazovkach sirsich 750 px */
@media only screen and (min-width: 750px) {

    /*
        [1] Zmenime typ elementu z blokoveho na inline-block, aby nezabiral celou sirku a nezacinal pokazde na novem radku.
        [2] Zuzime na polovinu, aby se vesly 2 vedle sebe.
    */
    .highlights li {
        display: inline-block; /* [1] */
        width: 50%; /* [2] */
    }
}

.highlights p {
    margin-bottom: 0; /* prebit vychozi nastaveni, aby horni i dolni odsazeni ramecku bylo shodne (jinak by dole bylo vetsi) */
}

.highlights-icon {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

/* Jidelni listek
   --------------
*/

.menu-legend {
    font-size: .88em;
}

.menu-legend li {
    display: inline-block;
}

.menu-legend svg{
    vertical-align: middle;
}

.menu ul {
    list-style: none;
    padding-left: 0;
}

.menu li {
    margin-bottom: .5em;
}

.menu-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #009245;
}

.menu-spicy-indicator {
    font-size: 0;
}

@media only screen and (max-width: 799px) {

    .menu-alergen {
        display: none;
    }
}

/* Chilli papricka */

.icon-chilli-stem {
    fill: #009245;
}

.icon-chilli-pepper {
    fill: #ce2b37;
}

/* Responzivni obrazek */

.menu img {
    max-width: 100%; /* obrazek nepretece pres okraj rodicovskeho elementu */
    height: auto; /* pri pruzne sirce zachovame pomer stran */
}

/* Kontakt */


/* Recenze */

.review-excerpt {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.2em;
}

.review-excerpt::before,
.review-excerpt::after {
    position: absolute;
    color: #c0c0c0;
    font-size: 3em;
}

.review-excerpt::before {
    content: '„';
    left: 0;
}

.review-excerpt::after {
    content: '“';
    top: -.25em;
    right: 0;
}

.review-excerpt p:first-child {
    margin-bottom: 0;
}

.review-excerpt p:last-child {
    font-weight: bold;
}

.reviews-icon {
    width: 6em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-left: .5em;
    fill: #c0c0c0;
}

.reviews-icon-full {
    fill: gold;
}

.reviews a {
    display: block;
    text-align: right;
}

.reviews a::after {
    content: ' »';
}

/* section s plnym textem recenzí */
.review {
    margin-bottom: 1em;
}


/* Zapati
   ------
*/

footer {
    padding: .5em 0;
}

footer p {
    margin: 0;
}


/* Pracovni styly
   --------------
   Pred publikovanim smazat, jsou tu jen kvuli ladeni.
*/

main {
    /*background-color: rgba(196,255,149,0.5);*/
}

.menu {
    /*background-color: rgba(128,0,0,0.5);*/
}

.contact {
    background-color: rgba(5,15,105,0.5);
}

.reviews {
    /*background-color: rgba(195,114,185,0.5);*/
}

footer {
    /*background-color: rgba(196,201,0,0.5);*/
}
