/* color scheme vygenerovano na zaklade barev italske vlajky pomoci Coolors https://coolors.co/ce2b37-009245-ffffff-ffbe0b-8f9491
primary color #ce2b37
secondary color #009245
terciary #ffbe0b
border #8f9491
*/

/* Typografie
   ----------
*/

body {
    line-height: 1.4;
    font-family: Roboto,Helvetica, Arial,sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #ce2b37;
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

a {
    text-decoration: underline;
}

a:link {
    color: #ce2b37;
}

a:visited {
    color: currentColor;
}

a:hover,
a:focus {
    color: #009245;
    text-decoration: none;
}

a:active {
    color: #ffbe0b;
}

/* Pomocne tridy
   -------------
*/

.hidden {
    display: none;
}

/* Casti stranky
   -------------
*/

/* Zahlavi */

header {
    padding: 1rem;
    background-image: linear-gradient(to right, #fff 50%, #f00); /* plynuly prechod z bile do cervene */
    background-image: linear-gradient(to right, #fff 50%, #f00 50%); /* ostry prechod z bile do cervene */
    background-image: linear-gradient(to right, #0f0 33.3333%, #fff 33.3333%, #fff 66.66666%, #f00 66.66666%); /* tri barvy s prechodem po tretine */
    background-image: linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* skutecene barvy italske vlajky */
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)),
        linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* dvojite pozadi, prvni kvuli citelnosti */
    font-size: 2rem;
    text-align: center;
}

header h1 {
    margin: -1rem;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(255,255,255,1);
}


main {
    background-color: rgba(196,255,149,0.5);
}

/* Sekce */

section {
    padding: 1rem;
    border-bottom: 1px solid #8f9491;
}

/* Highlights */

.highlights {
    background-color: rgba(105,155,205,0.5);
}

/* Tip */

.tip {
    background-color: rgba(205,105,155,0.5);
}

/* Menu */

.menu {
    background-color: rgba(205,155,105,0.5);
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 0.3em;
}

.price {
    white-space: nowrap;
}

/* Kontakt */

.contact {
    background-color: rgba(5,15,105,0.5);
}

/* Recenze */

.reviews {
    background-color: rgba(195,114,185,0.5);
}

.review {
    margin: 0;
}
