/* color scheme: vygenerovano pomoci Coolors na https://coolors.co/
primary color #db3c27
secondary color #f26215
terciary #fde74c
border #c0c0c0
*/

/* Typografie
   ----------
*/

body {
    line-height: 1.4;
    font-family: Roboto,Helvetica, Arial,sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #db3c27;
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

a {
    text-decoration: underline;
}

a:link {
    color: #db3c27;
}

a:visited {
    color: currentColor;
}

a:hover,
a:focus {
    color: #f26215;
    text-decoration: none;
}

a:active {
    color: #fde74c;
}

/* Pomocne tridy
   -------------
*/

.hidden {
    display: none;
}

/* Casti stranky
   -------------
*/

/* Zahlavi */

header {
    padding: 1rem;
    background-color: rgba(149,196,255,0.5);
    font-size: 2rem;
}

header h1 {
    font-size: 1.5em;
}

main {
    background-color: rgba(196,255,149,0.5);
}

/* Sekce */

section {
    padding: 1rem;
    border-bottom: 1px solid silver;
}

/* Highlights */

.highlights {
    background-color: rgba(105,155,205,0.5);
}

/* Tip */

.tip {
    background-color: rgba(205,105,155,0.5);
}

/* Menu */

.menu {
    background-color: rgba(205,155,105,0.5);
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 0.3em;
}

.alergen {
    display: none;
}

.price {
    white-space: nowrap;
}

/* Kontakt */

.contact {
    background-color: rgba(5,15,105,0.5);
}

/* Recenze */

.reviews {
    background-color: rgba(195,114,185,0.5);
}

.review {
    margin: 0;
}
