/* Barevne schema
   --------------
   (barvy italske vlajky)
   primary: #ce2b37
   secondary: #009245
   background: #fff
   border: #c0c0c0 (silver)
*/

body {
    padding: .5rem;
    font-family: sans-serif;
    color: #222;
}

/* Zakladni styly
    -------------
*/

h1,
h2,
h3,
h4 {
    color: #ce2b37;
    font-family: "Lobster", cursive;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
    text-shadow: 1px 1px 2px #fff;
}

header {
    padding: 1rem;
    /* Postupne budovani pozadi: v devTools si vypinej/prepinej, a porovnej s tim, co vidis jako vysledek v prohlizeci.  */
    background-image: linear-gradient(to right, #fff 50%, #f00); /* plynuly prechod z bile do cervene */
    background-image: linear-gradient(to right, #fff 50%, #f00 50%); /* ostry prechod z bile do cervene */
    background-image: linear-gradient(to right, #0f0 33.3333%, #fff 33.3333%, #fff 66.66666%, #f00 66.66666%); /* tri barvy s prechodem po tretine */
    background-image: linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* skutecene barvy italske vlajky */
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)),
        linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* dvojite pozadi, prvni kvuli citelnosti */
    font-size: 2rem;
    text-align: center;
}

header h1 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(255,255,255,.8);
}

header p {
    padding: 1rem 0;
    background-color: rgba(50,50,50,.3); /* zlepsi citelnost */
    margin: -1rem; /* zaporny okraj roztahne prvek i pres padding rodice, takze od kraje do kraje  */
    margin-top: 0.5em; /* odsadime od nadpisu nads */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.8); /* zlepsime citelnost */
}


/* Sekce
   -----
*/

section {
    padding: 1rem;
    border: 1px solid #c0c0c0;
}

a {
    color: #ce2b37;
}

a:hover {
    text-decoration: none;
}

 /* pomocna trida */
.hidden {
    display: none;
}

/* Upoutavkove boxy
   ----------------
*/

.highlights ul {
    list-style: none;
    padding-left: 0;
}

.highlights li {
    padding: 1em;
    border: 1px solid #c0c0c0;
    border-radius: .5em;
    margin-bottom: .5em; /* aby se boxy pod sebou neslepily */
}

.highlights p {
    margin-bottom: 0; /* prebit vychozi nastaveni, aby horni i dolni odsazeni ramecku bylo shodne (jinak by dole bylo vetsi) */
}

/* Jidelni listek
   --------------
*/

.menu ul {
    list-style: none;
    padding-left: 0;
}

.menu li {
    margin-bottom: .5em;
}

.menu-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #009245;
}

/* Kontakt */


/* Recenze */

.reviews blockquote {
    padding-left: 0;
}

/* section s plnym textem recenzí */
.review {
    margin-bottom: 1em;
}


/* Zapati
   ------
*/

footer {
    padding: .5em 0;
}

footer p {
    margin: 0;
}


/* Pracovni styly
   --------------
   Pred publikovanim smazat, jsou tu jen kvuli ladeni.
*/

main {
    background-color: rgba(196,255,149,0.5);
}

.menu {
    background-color: rgba(128,0,0,0.5);
}

.contact {
    background-color: rgba(5,15,105,0.5);
}

.reviews {
    background-color: rgba(195,114,185,0.5);
}

footer {
    background-color: rgba(196,201,0,0.5);
}
