/* Barevne schema
   --------------
   (barvy italske vlajky)
   primary: #ce2b37
   secondary: #009245
   background: #fff
   border: #c0c0c0 (silver)
*/


/* Box model pro ucely responzivniho designu */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Zakladni styly
-------------
*/

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #222;
}

h1,
h2,
h3,
h4,
.header-name,
legend {
    color: #ce2b37;
    font-family: "Lobster", cursive;
    font-weight: normal;
}

.header-name,
h1 {
    font-size: 2.6em;
    text-shadow: 1px 1px 2px #fff;
}

a {
    color: #ce2b37;
}

a:hover {
    text-decoration: none;
}

/* prehlednejsi tabulka otviraci doby */
td:last-child {
    text-align: left;
}

/* v nedeli je zavreno, zarovnane na stred to vypada lepe */
tr:last-child td {
    text-align: center;
}

/* pomocne tridy */
.hidden {
    display: none;
}

/* seznam bez odrazek a odsazeni */
.no-list {
    list-style: none;
    padding-left: 0;
}

/* Responzivni obrazek */
.img-responsive {
    max-width: 100%; /* obrazek nepretece pres okraj rodicovskeho elementu */
    height: auto; /* pri pruzne sirce zachovame pomer stran */
}

/* Responzivni objekt
   -------------------
   Klicovy pro pomer stran je padding-bottom, ktery nastavime pro kazdy typ objektu zvlast, protoze se lisi
*/

/* Spolecna pravidla */
.responsive-embed {
    position: relative;
    overflow: hidden;
}

/* Videa (objekty) s pomerem stran 16:9 */
.responsive-embed--16-9 {
    padding-bottom: 56.25%; /* = 9/16 × 100 */
}

/* Videa (objekty) s pomerem stran 4:3 */
.responsive-embed--4-3 {
    padding-bottom: 75%; /* = 3/4  × 100 */
}

.responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    padding: 1rem;
    /* Postupne budovani pozadi: v devTools si vypinej/prepinej, a porovnej s tim, co vidis jako vysledek v prohlizeci.  */
    background-image: linear-gradient(to right, #fff 50%, #f00); /* plynuly prechod z bile do cervene */
    background-image: linear-gradient(to right, #fff 50%, #f00 50%); /* ostry prechod z bile do cervene */
    background-image: linear-gradient(to right, #0f0 33.3333%, #fff 33.3333%, #fff 66.66666%, #f00 66.66666%); /* tri barvy s prechodem po tretine */
    background-image: linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* skutecene barvy italske vlajky */
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)),
        linear-gradient(to right, #009245 33.3333%, #fff 33.3333%, #fff 66.66666%, #ce2b37 66.66666%); /* dvojite pozadi, prvni kvuli citelnosti */
    font-size: 1.25rem;
    text-align: center;
}

@media only screen and (min-width: 700px) {

    header {
        font-size: 2rem;
    }
}

header img {
    max-width: 500px;
}

.header-name {
    text-shadow: 2px 2px 4px rgba(255,255,255,.8);
}

.header-slogan {
    padding: 1rem 0;
    background-color: rgba(50,50,50,.3); /* zlepsi citelnost */
    margin: -1rem; /* zaporny okraj roztahne prvek i pres padding rodice, takze od kraje do kraje  */
    margin-top: 0.5em; /* odsadime od nadpisu nads */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.8); /* zlepsime citelnost */
}

header img {
    max-width: 300px;
}

.center-block {
    max-width: 1200px; /* omezime sirku stranky, aby na velkych monitorech nebyla neumerne siroka */
    padding: 0 .5rem; /* pridame odsazeni od hrany obrazovky a zaroven zamezime preteceni obsahu mimo obrazovku */
    margin: auto; /* vycentruje blokovy element */
}

nav ul {
    display: flex;
    justify-content: center;
}

nav a {
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid  #ce2b37;
    margin: 1rem;
    text-decoration: none;
}

.active,
nav a:hover {
    background-color: #ce2b37;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column; /* nastavi smer, jakym se maji prvky uvnitr radit za sebou: pod sebou */
    margin: 0 -.5rem; /* zaporny margin rodice vyrovna kladny margin krajnich prvku, ktere tak budou licovat s obsahem nad i pod */
}

main,
aside {
    flex-grow: 1; /* ma se prvek roztahovat do volneho mista */
    flex-shrink: 0; /* ma se prvek smrstovat, kdyz mista ubyva */
    flex-basis: 16em; /* minimalni sirka, pod niz se uz nebude smrstovat, a prvek se zalomi na dalsi radek */
    margin: 0 0.5rem;
}

@media only screen and (min-width: 800px) {

    .container {
        flex-direction: row; /* prvky vedle sebe */
        flex-wrap: wrap; /* pokud se nevejdou vedle sebe, necht se zalomi */
    }

    main {
        flex: 3; /* necht prvek zabere 3 dily volneho mista */
    }

    aside {
        flex: 1; /* necht prvek zabere 1 dil volneho mista */
    }
}

/* Sekce
   -----
*/

section {
    padding: 1rem;
    border: 1px solid #c0c0c0;
    margin: 1rem 0;
}

/* Upoutavkove boxy
   ----------------
*/

.highlights  {
    color: #009245;
    text-align: center;
}

.highlights ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.highlights li {
    flex: 1 0 12em;
    padding: 1em;
    border: 1px solid currentColor;
    border-radius: .5em;
    margin: 0.5rem;
}

.highlights p {
    margin-bottom: 0; /* prebit vychozi nastaveni, aby horni i dolni odsazeni ramecku bylo shodne (jinak by dole bylo vetsi) */
}

.highlights-icon {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

/* Jidelni listek
   --------------
*/

.menu-legend {
    font-size: .88em;
}

/* zvysime specifictu, abychom prebili display: flex nize */
.menu .menu-legend li {
    display: inline-block;
}

.menu-legend svg{
    vertical-align: middle;
}

.menu li {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: .5em;
    text-align: left;
}

.menu li > * {
    margin-right: 1rem;
}

.menu li small:first-child {
    display: inline-block;
    text-align: right;
    min-width: 3em;
}

.menu-name {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.menu-price {
    margin-left: auto;
}

.menu-icon {
    flex-shrink: 0;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1em;
    fill: #009245;
}

.menu-spicy-indicator {
    flex-shrink: 0;
    margin-left: 1rem;
    font-size: 0;
}

.menu-spicy-indicator .menu-icon{
    margin: 0;
}

@media only screen and (max-width: 799px) {

    .menu-alergen {
        display: none;
    }
}

.menu li p {
    flex-basis: 100%;
    padding-right: 3em;
}

/* Chilli papricka */

.icon-chilli-stem {
    fill: #009245;
}

.icon-chilli-pepper {
    fill: #ce2b37;
}

/* Kontakt */

.contact {
    /* Jen experiment, nefunguje ve vsech prohlizecich, navic na nizkych obrazovkach se orizne obsah. To by se muselo osetrit pomoci media query na min-height, nebo jinak. Pouze na vedomi */
    position: sticky;
    top: 1rem;
}

/* Recenze */

.review-excerpt {
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.2em;
}

.review-excerpt::before,
.review-excerpt::after {
    position: absolute;
    color: #c0c0c0;
    font-size: 3em;
}

.review-excerpt::before {
    content: '„';
    left: 0;
}

.review-excerpt::after {
    content: '“';
    top: -.25em;
    right: 0;
}

.review-excerpt p:first-child {
    margin-bottom: 0;
}

.review-excerpt p:last-child {
    font-weight: bold;
}

.reviews-icon {
    width: 6em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-left: .5em;
    fill: #c0c0c0;
}

.reviews-icon-full {
    fill: gold;
}

.reviews a {
    display: block;
    text-align: right;
}

.reviews a::after {
    content: ' »';
}

/* section s plnym textem recenzí */
.review {
    margin-bottom: 1em;
}



/* Galerie
   ------
*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.gallery a {
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    padding: .25em;
    border: 1px solid silver;
    margin: 0.5rem;
}

.video{
    margin-bottom: 0.5rem;
}

@media only screen and (min-width: 600px) {

    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -0.5rem;
    }

    .video{
        flex: 1 1 auto;
        margin: .5rem;
    }
}

/* Rezervace
   --------
*/

/* Trochu vzduchu do formulare */
.reservation-form fieldset {
    padding-top: 1em;
    border-top: 1px solid silver;
    margin-bottom: 1em;
}

/* Sjednotime velikost pisma  */
.reservation-form h3,
.reservation-form legend {
    font-size: 1.2em;
}

.reservation-form label {
    margin-bottom: 0.5em;
}

/* Zvetsime a odsadime formularova policka */
/* pseudotrida :not() vynecha selektory uvedene uvnitr zavorky, tj. nasledujici plati pro vsechny inputy krome intputu typu checkbox a radio */
.reservation-form input:not([type="checkbox"]):not([type="radio"]),
.reservation-form select,
.reservation-form textarea,
.reservation-form button {
    padding: .5em;
    margin-bottom: 1.5em;
}

/* Rozlameme formular na jednotlive polozky */
.reservation-form label,
.reservation-form input:not([type="checkbox"]):not([type="radio"]),
.reservation-form button {
    display: block;
}

/* */
.reservation-form [type="text"],
.reservation-form [type="email"],
.reservation-form textarea {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    .reservation-form [type="text"],
    .reservation-form [type="email"],
    .reservation-form textarea {
        max-width: 75%;
    }
}

/* Checkboxy a radiobuttony, ktere jsou zanorene v label odsadime od textu */
.reservation-form [type="checkbox"],
.reservation-form [type="radio"] {
    margin-right: .5em;
}

/* Sadu radiobuttonu chceme v radku vedle sebe */
.reservation-radios label {
    display: inline-block;
}

/* Zvyraznime odesilaci tlacitko */
.reservation-form button {
    background-color: #009245;
    border: 2px solid #009245;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.reservation-form button:hover {
    background-color: #ce2b37;
    border-color: #ce2b37;
}

/* Povinnym polim pridame do nazvu cervenou hvezdicku */
.required::after {
    content: '*';
    color: #ce2b37;
}

/* Zapati
   ------
*/

footer {
    padding: .5em 1rem;
}

footer p {
    margin: 0;
}


/* Pracovni styly
   --------------
   Pred publikovanim smazat, jsou tu jen kvuli ladeni.
*/

main {
    /*background-color: rgba(196,255,149,0.5);*/
}

.menu {
    /*background-color: rgba(128,0,0,0.5);*/
}

.contact {
    /*background-color: rgba(5,15,105,0.5);*/
}

.reviews {
    /*background-color: rgba(195,114,185,0.5);*/
}

footer {
    /*background-color: rgba(196,201,0,0.5);*/
}
